.jumbotron { background-color: #edebe5; clear: both; display: block; padding: 5% 0px; text-align: center; width: 100%; }
.jumbotron h2 { color: #595348; font-size: 32px; margin-bottom: 7px; }
.jumbotron form {margin-bottom: .5rem;}
.jumbotron .form-control { border-color: #edebe5; border-radius: 0px; box-shadow: none; color: #8d857c; font-family: 'Montserrat', sans-serif; font-size: 12px; font-weight: 300; text-transform: uppercase; }

.blog { clear: both; display: block; padding: 0px 0px 33px; text-align: center; width: 100%; }
.blog .thumb-wrap {position: relative;display: inline-block;}
.blog .abs-link {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: 0;}
.abs-link:after {content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;transform: scale(0, 0);transform-origin: top left;transition: transform 0.6s ease;transform-origin: center;}
.abs-link:hover::after {transform: scale(1, 1);background-color: rgba(255, 255, 255, 0.8);}
.blog h4 { color: #595348; font-size: 20px; margin: 10px 0px 5px; min-height: 57px; text-transform: capitalize; }
.blog h4 span { font-size: 16px; }
.blog p { font-size: 12px; min-height: 90px; }
.blog a.inherit-link {color: inherit;font-size: inherit;font-weight: inherit;font-family: inherit;margin: 0;text-transform: inherit;}
.blog a { color: #9c958c; display: inline-block; font-size: 13px; margin-bottom: 48px; text-transform: uppercase; font-weight: 500; letter-spacing:1px; }
.blog a .fa-angle-right { font-size: 15px; }
.blog a:hover { color: #807972; }
.flip-img {transition: transform 0.8s;transform-style: preserve-3d;}
.flip-img:hover {transform: rotateY(180deg);}

.blog-post { clear: both; width: 100%; }

.post { clear: both; padding: 50px 0px; margin: 0px auto; text-align: right; max-width: 575px; width: 100%; max-height: calc(100vh - 105px - 105px - 60px); overflow-y: scroll; }
.post::-webkit-scrollbar {width: 0px;}
.arrow-container {margin: 40px auto 30px;text-align: right; max-width: 575px; width: 100%;}
.post h2 { font-size: 32px; text-transform: capitalize; }
.post h4 { font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: 500; color:#9c958c; }
.post h3 { font-family: 'Montserrat', sans-serif; font-size: 20px; margin: 20px 0px; font-weight: 500; color:#9c958c; }
.post .box { padding-left: 5%; }

/*----- Slider -----*/
.owl-carousel .owl-item img { display: inline-block; width: auto; }

.owl-theme .owl-dots { display: none; }
.owl-carousel .owl-nav.disabled { display: block; }

.owl-theme .owl-nav { transform: rotate(90deg); background: #ccc; position: absolute; width: 100%; top: 400px; left: 250px; }

div.owl-carousel .owl-nav .owl-prev, div.owl-carousel .owl-nav .owl-next { border-radius: 0px; position: absolute; height: 24px; width: 46px; }
div.owl-carousel .owl-nav .owl-prev span, div.owl-carousel .owl-nav .owl-next span { display: none; }
div.owl-carousel .owl-nav .owl-prev { background: url(../images/arrow2.png) no-repeat 0% 0%; left: 0px;  margin-left: -80px; transform: rotate(-90deg); }
div.owl-carousel .owl-nav .owl-next { background: url(../images/arrow3.png) no-repeat 0% 0%; right: 0px; margin-right: -80px; transform: rotate(-90deg); }
div.owl-carousel .owl-nav .owl-prev:hover { background: transparent url(../images/arrow2.png); }
div.owl-carousel .owl-nav .owl-next:hover { background: transparent url(../images/arrow3.png); }

.post a { color:#595348; font-family: 'Montserrat', sans-serif, Arial, Helvetica; font-size: 14px; font-weight: 500; }

/*-------------------
    Media Query
---------------------------*/

@media only screen and (max-width: 767px) {
  .blog-post .col { flex-basis: auto; }
  .owl-theme .owl-nav { left: 100px; top: 220px }
  div.owl-carousel .owl-nav .owl-next { margin-right: -370px; }
  .get-touch h3 { font-size: 22px; }
  .post {max-height: unset;}
  .arrow-container {display: none;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .owl-theme .owl-nav { left: 100px; top: 220px }
  div.owl-carousel .owl-nav .owl-next { margin-right: -350px; }
  .get-touch h3 { font-size: 24px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .owl-theme .owl-nav { left: 230px; top: 310px; }
  div.owl-carousel .owl-nav .owl-next { margin-right: -200px; }
}
