.main h2 {margin-bottom: .5em;}
.main .cat-title {margin-top: calc(20px + 2%);}
.topheader { text-align:center; margin-bottom:15px; }
.toptop { margin-bottom:15px; }
.breadcrumbs { margin-bottom:10px; }