.banner { clear: both; padding: 0px; position: relative; text-align: center; width: 100%; }
.banner .bn-logo { position: absolute; left: 0px; right: 0px; top: calc(50% - 100px); margin: 0 auto; text-align: center; width: 70%; z-index: 1; }
.banner .arrow_down { display: block; padding-top: 150px; }
.banner .owl-theme .owl-dots { display: none; }
.banner .owl-carousel .owl-nav  { display: block; }
.banner .owl-carousel .owl-nav button.owl-next, .banner .owl-carousel .owl-nav button.owl-prev { height: 43px; text-indent: -9999px; width: 16px; }
.banner .owl-carousel .owl-nav button.owl-prev { background: url("../images/arrow_prev.png") no-repeat left top; float: left; margin-left: 20px; opacity: 0.7; }
.banner .owl-carousel .owl-nav button.owl-next { background: url("../images/arrow_next.png") no-repeat left top; float: right; margin-right: 20px; opacity: 0.7; }
.banner .owl-theme .owl-nav { margin: 0px auto; position: absolute; left: 0px; right: 0px; top: calc(50% - 26px); width: 80%; }

.main { clear: both; margin: 33px 0px; width: 100%; }
.main .row.first > div:first-child { order:1; }
.main .intro { float: right; text-align: right; }
.main .content { margin: 0% auto; max-width: 380px; top:50%; position: relative; transform: translateY(-50%); }
.main h1 { line-height:1; letter-spacing:2px; margin-bottom:20px; }
.main a.link { color: #8d857c; font-size: 14px; font-weight: 500; text-transform: uppercase; letter-spacing:2px; }
.main a.link .fa { font-size: 16px; transition: all 1.3s; }
.main a.link:hover { color: #595348; transition: all 1.3s; }
.main p { font-weight:300; margin-bottom:25px; }


.gallery { clear: both; padding: 0px 0px 33px; text-align: center; width: 100%; }
.gallery .col { height: 100%; left: 0px; position: absolute; top: 0px; }
.gallery h3 { color: #fff; font-size: 28px; margin: 0%; text-transform: capitalize; top:47%; position: relative; transform: translateY(-47%); letter-spacing:2px; }
.gallery a:not(.live-edit-button) { color: #9c958c; font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 500; text-transform: uppercase; letter-spacing:1px; transition: all 1.3s; position: absolute; bottom: 20px; left: 0; width: 100%; }
.gallery a fa { font-size: 18px; }
.gallery a:hover { color: #fff; transition: all 1.3s; }
.gallery .owl-theme .owl-dots { display: none; }
.gallery .owl-carousel .owl-nav button.owl-next, .gallery .owl-carousel .owl-nav button.owl-prev { height: 43px; text-indent: -9999px; width: 16px; }
.gallery .owl-carousel .owl-nav button.owl-prev { background: url("../images/arrow_prev.png") no-repeat left top; float: left; margin-left: 20px; }
.gallery .owl-carousel .owl-nav button.owl-next { background: url("../images/arrow_next.png") no-repeat left top; float: right; margin-right: 20px; }
.gallery .owl-theme .owl-nav { position: absolute; right: 0px; margin: 0px; top: 40%; width: 100%; }
.gallery .item .image-overlay {background: rgba(0, 0, 0, 0.5); transition:all 0.3s ease-in-out;}
.gallery .item:hover .image-overlay {background: rgba(0, 0, 0, 0.2);}
.owl-carousel .owl-item img {z-index: -1;position: relative;}
.banner .owl-carousel .owl-item {height: calc(100vh - 50px);}
.banner .owl-carousel .item {width: 100%;height: 100%;background-size: cover;background-position: center;}

.get-touch { background-color: #edebe5; clear: both; display: block; padding: 5% 0px; text-align: center; width: 100%; }
.get-touch h3 { color: #595348; font-size: 32px; margin-bottom: 15px; letter-spacing:2px; }
.get-touch p { margin: 0px auto; max-width: 645px; margin-bottom: 35px; }
.get-touch a { color: #8d857c; font-size: 14px; font-weight: 600; text-transform: uppercase; }
.get-touch a .fa { font-size: 16px; transition: all 1.3s; }
.get-touch a:hover { color: #595348; transition: all 1.3s;}

.banner .owl-carousel.owl-drag .owl-item:after { background-color:rgba(0,0,0,0.2); position:absolute; top:0; left:0; width:100%; height:100%; content:''; z-index:-1; }

.bgimg { min-height:70vh; }

/*-------------------
    Media Query
---------------------------*/

@media only screen and (max-width: 767px) {
	.banner .bn-logo { margin: 0px auto; width: 80%; top: calc(50% - 50px); }
	.banner .bn-logo img { width: 100px; }
	.banner .owl-theme .owl-nav { width: 100%; }
	.banner .arrow_down { padding-top: 20px; }
	.banner .arrow_down img { width: 30px; }
	.main { margin: 0px; }
	.main .col { flex-basis: auto; }
	.main .intro { text-align: left; }
	.gallery { padding: 33px 15px; }
	.gallery h3 { font-size: 17px; margin:0 20px; top:50%; transform: translateY(-50%); }
	.gallery a { font-size: 12px!important; }
	.gallery .owl-carousel .owl-nav button.owl-next,
	.gallery .owl-carousel .owl-nav button.owl-prev { background-size: 16px 28px ; height: 28px; text-indent: -9999px; width: 16px; }
	.get-touch h3 { font-size: 22px; }
	.main .row.first > div:first-child { order: 0; }
	.main .content { margin: 50px auto; position: initial; transform: initial; }
	.jumbotron { margin-bottom:0; }
	.gallery .owl-carousel .owl-nav button.owl-prev { margin-left:10px; }
	.gallery .owl-carousel .owl-nav button.owl-next { margin-right:10px; }
	.bgimg { min-height:300px; }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	.banner .bn-logo {top: calc(50% - 60px);}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.gallery a { font-size: 8px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner .bn-logo { margin: 0px auto; width: 80%; top: calc(50% - 50px); }
	.banner .bn-logo img { width: 100px; }
	.banner .owl-theme .owl-nav { width: 100%; }
	.banner .arrow_down { padding-top: 50px; }
	.banner .arrow_down img { width: auto; }
	.main { margin: 33px 0px; }
	.gallery h3 { font-size: 18px; }
	.gallery a { font-size: 12px; }
	.gallery .owl-theme .owl-nav { display: block; }
	.gallery .owl-carousel .owl-nav button.owl-next,
	.gallery .owl-carousel .owl-nav button.owl-prev { background-size: 16px 28px ; height: 28px; text-indent: -9999px; width: 16px; }
	.get-touch h3 { font-size: 24px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.banner .bn-logo { margin: 0px auto; width: 80%; top: calc(50% - 52px); }
	.banner .bn-logo img { width: 105px; }
	.banner .owl-theme .owl-nav { width: 100%; }
	.banner .arrow_down { padding-top: 90px; }
	.banner .arrow_down img { width: auto; }
}